@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family:Playfair Display;
}
:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
}
html{
    display: flex;
    flex-direction: column;
    object-fit: contain;
    font-family:Playfair Display;
}



body{
    background: #000;
    color:#fff;
    font-family:Playfair Display;

}

header{

    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:100px;


    gap:15%;
}

/* first header div - logo+name */
.first-header-div{
    color:#000;
  
}

.burger-manu{
    position:relative;
    display:none;
}

.burger-manu-div-content{
    width:100px;
    position:absolute;
    left:70%;
    top:20px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color: aliceblue;
    border:1px solid #fff;
    display:none;
}


.burger-manu-div-content a{
    text-decoration: none;
}

/* Second header div - paragraphs + navbar */
.second-header-div{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    
    gap:30px;
    margin-top:15px;
}

.logIn-p a{
    text-decoration: none;
    color:#fff;
    font-size:18px;
}

/* search div- input + img */
.search-div{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-top:-30px;
}

.search-input{
    position:relative;
    width:350px;
    height:30px;
    border-radius:20px;
    padding-left:15px;
    font-family:Playfair Display;
}

.search-div img{
    position:absolute;
    left:92%;
    width:15px;
    height:16px;
    margin-top:30px;
}

/* navbar */
nav{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

    gap:30px;
}

nav p {
    font-size:18px;
    font-family:Playfair Display;

}

nav a{
    text-decoration: none;
    color:#fff;
    font-family:Playfair Display;
}


/* body part  */


.firstSection {
    position:relative;
    background-image: url(/images/header-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    padding: 3rem;
    gap:0%;
}
.getStartedDivText > h1{
    font-size:3rem;
    padding-bottom: 15px;
    line-height:50px;
    font-weight: 600;
    font-family:Playfair Display;
    width:60%;
}
.getStartedDivText > p{
    opacity: 0.5;
    letter-spacing: 0.1rem;
    font-family:Playfair Display;
}
.getStartedDivBtn > button{
    padding: 13px;
    width: 20rem;
    margin-top: 3rem;
    font-size: 1.2rem;
    letter-spacing: 0.050rem;
    font-weight: bolder;
    color: aliceblue;
    background-color:#F0AC00;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.25s;
    font-family:Playfair Display;
}
.getStartedDivBtn>button:hover{
    background-color:#A72929;
    color: #000;
}
.getStartedDiv{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    margin: 20px;
}


/* stylign the divd of quiz */

.quiz-div{
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width:700px;
    height:auto;
    background-color:#000;
    border-radius:3px;
    color:#000;
    box-shadow: 0px 0px 15px #A72929;
    color:#fff;
    display:none;
}


.quiz-form{
    margin-top:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.question{
    margin-top:30px;
 
}

.question p{
    font-size:40px;
    font-family:Playfair Display;
    margin-bottom:15px;
}
input{
    margin-top:30px;
    margin-left:50px;
}
label{
    font-family:Playfair Display;
    font-size:29px;
    margin-left:20px;
}

.quiz-div img{
    margin-left:90%;
    margin-top:10px;
}

.button-inp{
    width:200px;
    height:46px;
    margin-left:0px;
    margin-top:50px;
    margin-bottom:20px;
    font-family:Playfair Display;
    font-size:20px;
    border-radius:3px;
    background-color: #F0AC00;
    color:#fff;
    border:none;
    font-weight: bold;
    transition:0.5s;
}

.button-inp:hover{
    cursor:pointer;
    background-color: #A72929;
}

.genre-question p{
    margin-left:90px;
}

.old-vs-new-movies-question p{
    text-align: center;
}

.old-vs-new-movies-question input{
    margin-left:80px;
}
/*******************************************/
.mostMatchedDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
    padding: 15px;
    /* padding-left: 150px;
    padding-right: 150px; */
    border-radius: 30px;
    height: 560px;
    background-color: #1F1F1F;


}
.mostMatchedDivMoviesImgDiv >img{
    width:110px;
    height: 70px;
    border-radius:3px;
    object-fit: cover;
}
.mostMatchedDivMovies{
    display: flex;
    flex-direction: row;
    /* border: 2px solid white; */
    padding: 2rem;
    width: 400px;
    height: auto;
    justify-content: space-between;
    gap: 25px;
    height: 100px;
    align-items: center;
    border-radius: 30px;
}
.mostMatchedDivTitle > h2{
  margin-bottom:10px;
  margin-top:10px;
  font-family:Playfair Display;
}
.mostMatchedDivMoviesPlatform > img{
    width: 70px;
    height: 70px;
    object-fit: contain;
}
.mostMatchedDivMoviesText{
    width:100%;
    line-height:1rem;
    letter-spacing: 0.05rem; 
    font-family:Playfair Display;
}
.mostMatchedDivMoviesText > p:nth-child(1){
    color: aliceblue;
    width:8rem;
    font-family:Playfair Display;
}
.mostMatchedDivMoviesText>p:nth-child(2) {
    color: yellowgreen;
    margin-top:10px;
    font-family:Playfair Display;
}

/*SECOND SECTION */


.secondSection {
    height: 100vh;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.secondSectionMainDiv {
    display: flex;
    flex-direction: row;
    /* background-color: hsl(0, 15%, 21%); */
    background: url(https://www.nischenkino.de/wp-content/uploads/2022/11/the-northman-title.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 65%;
    height: 70%;
    color: aliceblue;
    filter:brightness(70%);
    margin-top:-200px;
}
.secondSectionContentMoviesDiv > div > img {
    width:200px;
    height: 130px;
    object-fit: cover;
    filter:brightness(70%);
}
.secondSectionContentMoviesDiv{
    display: flex;
    gap: 15px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}
.secondSectionContentMovies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/*there was media in here */
@media (max-width: 880px){
    .secondSectionContentMovies>:nth-child(1) {
            display: flex;
            flex-direction: column;
        }
    .secondSectionContentMovies>:nth-child(2){
        display: none;
    }
    .secondSectionContentMovies>:nth-child(3) {
        display: none;
    }
    .FooterLogo{
        width: auto;
        height: auto;
        display: flex;
        justify-content: right;
        align-items: start;
        /* margin-left: -200px; */
}
.FooterMiddleParagraphDiv{
    width: 350px;
}
.FooterMiddle{
    width: 200px;
}
.testimonial-item{
    width: auto;
}
.testimonial-item > img {
    width: auto;
}
.wrapper{
    width: auto;
}
.mostMatchedDiv{
    width: 300px;
}
.mostMatchedDiv > div {
    width: 100px;
    justify-content: center;
    align-items: center;
    left: 0;
    margin-left: -200px;
}
.mostMatchedDivMovies{
    width: 300%;
}
.mostMatchedDivTitle{
    justify-content: center;
    align-items: center;
    display: flex;
}
.firstSection{
    width: auto;
}
.FooterContactDiv{
    width: auto;
    height: auto;
}
.FooterContactForm {
    width: auto;
    height: auto;
}
.FooterContactFormInp{
    width: 10px;
    height: auto;
}
.mostMatchedDiv{
    display: none;
}
.FooterIconsDiv{
    display: flex;
    gap: 8px;
}
}
@media (max-width: 1320px) {
    .secondSectionContentMovies>:nth-child(1) {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .secondSectionContentMoviesDiv{
        width: auto;
    }
    .secondSectionContentMoviesDiv >div> img {
        position: relative;
    }
    .secondSectionContentMovies>:nth-child(2) {
        display: none;
    }

    .secondSectionContentMovies>:nth-child(3) {
        display: none;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .testimonial-item{
        display: flex;
    }
}
@media (max-width: 630px){
    .secondSectionContentMovies{
        display: none;
    }
    .M{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .M > h1{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align:Center;
    }
}

/* */
.secondSectionMainDivLEFT{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 300px;
   
}
.secondSectionContent{
    display: flex;
    flex-direction: column;

}
.secondSectionContentLeft{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 350px;
    margin-right: 100px;
    padding: 10px;
}
.secondSectionContentLeftBtn > button{
    padding: 0.7rem;
    width: 8rem;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    color: aliceblue;
    background-color: hsl(0, 100%, 50%);
    cursor: pointer;
    transition: 0.25s;
}
.secondSectionContentLeftBtn>button:hover{
    background-color: hsl(0, 100%, 60%);
}
.secondSectionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    margin: 100px;
    width: 80%;
    margin-left:200px;
    font-family:Playfair Display;
}

.M{
    background-color: black;
    height: 200px;
    padding: 100px;
    font-weight: bolder;
    font-size: 2rem;
    padding: 10px;

}


.genresSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh auto;
    background-color: black;
}
.genresSectionTitle > h1{
    font-weight: bolder;
    font-size: 2.6rem;
    font-family:Playfair Display;

}
.genresSectionMovies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 40px;
    margin-top:30px;
}
.genresSectionMoviesChild1{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
    flex-wrap: wrap;
    font-family:Playfair Display;
}
.genresSectionMoviesChild1 > div{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    border: 2px solid antiquewhite;
    font-size: 1.8rem;
    cursor: pointer;
    transition: 0.5s;
    /* filter:brightness(60%) */
}

.genresSectionMoviesChild2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
    flex-wrap: wrap;
    
}

.genresSectionMoviesChild2>div {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    border: 2px solid antiquewhite;
    font-size: 1.8rem;
    cursor: pointer;
    transition: 0.5s;
}
.genresSectionMoviesChild2>div:hover,.genresSectionMoviesChild1>div:hover{
    box-shadow: 0 2rem 4rem -2rem rgb(242, 226, 226);
    transform: scale(1.05);
    border-radius: 20px;
    color: greenyellow;
    text-shadow: 0 2rem 4rem -2rem rgb(173, 255, 47);
}


.comedy-genre{
    background-image: url(/images/comedy-img.avif);
    object-fit:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    filter:brightness(70%)
}

#genre-h1{
    filter:brightness(3);
    text-shadow: 0px 0px 15px #fff;
}

.action-genre{
    background-image: url(/images/action-genre.jpg);
    object-fit:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    filter:brightness(70%)
}

.horor-genre{
    background-image: url(/images/horor-genre.jpeg);
    object-fit:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    filter:brightness(70%)
}

.drama-genre{
    background-image: url(/images/drama-genre.jpg);
    object-fit:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    filter:brightness(70%)
}

.romantic-comedy-genre{
    background-image: url(/images/romantic-comedy-genre.jpg);
    object-fit:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    filter:brightness(70%)
}

.Mystery-genre{
    background-image: url(/images/mystery=genre.webp);
    object-fit:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    filter:brightness(70%)
}



.testimonials-box {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family:Playfair Display;
}

.testimonials .heading {
    margin-bottom: 5rem;
    font-family:Playfair Display;
}

.testimonials-box img {
    width:6em;
    border-radius: 50%;
    border: 3px solid #A72929;
    box-shadow: 0 0 25px #A72929;
    height:6rem;
    object-fit: cover;
}

.wrapper {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

}

.testimonial-item {
    min-height: 550px;
    max-width: 350px;
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: white;
    transition: 0.4s ease-in-out;
    border: 3px solid #A72929;
    box-shadow: 0 0 25px #A72929;
}

.testimonial-item:hover {
    border: 3px solid var(--main-color);
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 50px var(--main-color);
}

.testimonial-item h2 {
    font-size: 2.0rem;
    margin-top:10px;
    color:#fff;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.testimonial-item p {
    font-size: 1.3rem;
    width:20rem;
}
.testimonials{
    background-color: black;
    height: auto;
    padding-bottom: 150px;
}

.heading{
    color: #fff;
    font-size: 2.8rem;
    margin-top: 300px;
}




/* styling the body part  */
body {
     cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1156.ani), url(https://ani.cursors-4u.net/cursors/cur-13/cur1156.png), auto !important;
 }
 .infoSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .infoSectionBottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 55vh;
    width: 100%;
    background-color: #181F29;
    gap: 80px;
    color: #fff;
 }
 .infoSectionBottomTop{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
 }
 .infoSectionBottomTop >div> p{
    font-size: 1.rem;
 }
  .infoSectionBottomTop>div>h1 {
      font-size: 1.8rem;
  }
 .infoSectionBottomBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
 }
.infoSectionBottomBottom > div > h1{
    font-size: 1.8rem;
 
}
 .infoSectionBottomBottom > div > img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
 }
 .infoSectionTop{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    color: #fff;
    background: url(/images/info-back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.infoSectionTop>div{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.infoSectionTop>div>h1{
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.FrequentlyAsked{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh auto;
    padding: 120px;
    background-color: black;
}
.FrequentlyAskedTitle > h1{
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    font-weight: bolder;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.FrequentlyAskedQuestions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 60%;
    gap: 40px;
}
.FrequentlyAskedQuestions > div{
    border: 2px solid black;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-weight: bolder;
}
.FrequentlyAskedQuestions>div>h1 {
    font-size: 2rem;

}
.plusIcon{
    cursor: pointer;
}
.FrequentlyAskedTitle{
    margin-bottom: 40px;
}
.faq-answer {
    display: none;
    margin-top: 10px;
    font-size: 1rem;
}

.faq-item {
    margin-bottom: 20px;
    cursor: pointer;
}

.faq-item.open .faq-answer {
    display: block;
}



/* styling the footer part */
footer{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

    margin-top:50px;
}

.footer-logo-div img{
    height:60px;
}


/* div that involves - quick links  , paragraph , contact */
.second-footer-div{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;

    gap:22%;
    margin-top:50px;
}

.quick-links{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quick-links h2{
    width:max-content;
}
.child-quick-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top:20px;
    gap:10px;
}

.child-quick-links  a{
    font-size:18px;
    text-decoration: none;
    color:#fff;
}



.about-web p{
    text-align: center;
    width:400px;
}

.contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;


}

.footer-form{
    margin-top:5px;
}

.footer-form input{
    width:180px;
    height:40px;
    border-radius: 4px;
    padding-left:5px;
    font-family:Playfair Display;
    margin-top:5px;
}

#message-input{
    height:60px;
    padding-bottom:20px;
}

#button-input{
    width:100px;
    margin-left:35px;
    height:30px;
    font-size: 15px;
    transition:0.5s;
}

#button-input:hover{
    background-color: #A72929;
    cursor:pointer;
}
